@model HelperlandWebsite.ViewModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <form method="post">
        <div class="card-login hero-banner-section" style="background-image: url(../img/hero-banner.jpg);">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center">
                        <div class="justify-content-center align-self-center">
                            <div class="form-horizontal">
                                <h4 class="loginpage">Forgot Password</h4>
                                <input type="email" asp-for="Email" placeholder="Email Address" class="fogotpass form-control" />
                                <input type="submit" asp-for="Email" value="Send" class="btn btn-primary loginbtn fogotpass" /><br />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                @Html.ActionLink("Back to Login", "Login")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
