@model HelperlandWebsite.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap3/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap3/bootstrapcss/bootstrap-theme.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 resetPass">
        <h3>Reset your Password</h3>
        <hr />
        <form asp-action="ResetPassword" class="formclass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label">New Password</label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>
</body>
</html>
