@model HelperlandWebsite.ViewModels.UserResgistrtionViewModel;

@{
    ViewData["Title"] = "Service Proider Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="card-login" style="background-image: url(../img/hero-banner.jpg);">
    <h1 id="large-header" hidden></h1>  <!-- To set large-navbar to header-->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="text-center">
                <div class="justify-content-center align-self-center">
                    <div class="form-horizontal">

                        <div class="form-wrapper">
                            <div class="form-title">
                                <h4>Register Now!</h4>
                            </div>
                            <form asp-action="Login" method="post">

                                @if (ViewBag.HasError == true)
                                {
                                    <div class="form-group mb-3">
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            @ViewBag.ErrorMessage
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Success == true)
                                {
                                    <div class="form-group mb-3">
                                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                            @ViewBag.SuccessMessage
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                }

                                <div class="form-group mb-3">
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" required />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" required />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" required />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">+46</span>
                                        <input asp-for="MobileNumber" type="number" class="form-control" placeholder="Mobile Number" required />
                                    </div>
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        I accept <a href="#" class="link">terms and conditions</a> & <a href="#" class="link">privacy policy</a>
                                    </label>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary m-auto">Getting Started <img src="./assets/images/arrow-white.png" alt=""></button>
                                </div>
                                <div class="row text-center">
                                    <p>Already register? <a class="check-link" asp-controller="Account" asp-action="Login">Login now</a></p>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
