
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<img src="~/img/aboutimg.png" class="img-responsive">
<!-- About us -->
<section class="container">
    <h1 class="about-us">A Few words about us</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    <p class="about-us-para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</p>

    <p class="about-us-para">Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem</p>
</section>
<!-- About us End -->
<!-- Our Story -->
<section class="container">
    <h5 class="about-us">Our Story</h5>
    <img src="~/img/stone.png" class="img-responsive stone">
    <p class="about-us-para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</p>

    <p class="about-us-para">Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit.</p>

    <p class="about-us-para">Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem</p>
</section>
<!-- Our Story -->
<!--Newsletter-->
<section>
    <div class="text-center">
        <div class=" justify-content-center align-self-center">
            <h3 class="newsletter">GET OUR NEWSLETTER</h3>
            <input type="text" name="" class="newsmail" placeholder="Your Email">
            <button class="newssubmit" type="button"><span class="btnsubmit">Submit</span></button>
        </div>
    </div>
</section>
<script src="~/js/site.js"></script>
<!--Newsletter End-->
