
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<img src="~/img/contact.png" class="img-responsive">
<!-- Contact us -->
<section class="container">
    <h1 class="about-us">Contact us</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-4 col-lg-4">
            <div class="text-center">
                <div class="justify-content-center align-self-center ">
                    <img src="~/img/map.png" class="img-responsive contact-img">
                    <p class="contact-us-imgs">1111 Lorem ipsum text 100,</p>
                    <p class="contact-us-imgs">Lorem ipsum AB</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-12 col-md-4 col-lg-4">
            <div class="text-center">
                <div class="justify-content-center align-self-center ">
                    <img src="~/img/call.png" class="img-responsive contact-img">
                    <p class="contact-us-imgs">+49 (40) 123 56 7890</p>
                    <p class="contact-us-imgs">+49 (40) 987 56 0000</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-12 col-md-4 col-lg-4">
            <div class="text-center">
                <div class="justify-content-center align-self-center ">
                    <img src="~/img/mail.png" class="img-responsive contact-img">
                    <p class="contact-us-imgs">info@helperland.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact us End -->
<!-- Get in touch with us -->
<section class="container">
    <h2 class="Get-in-touch-with-us">Get in touch with us</h2>
    <div class="text-center">
        <div class="justify-content-center align-self-center">
            <div>
                <form>
                    <input type="text" name="" placeholder="First name" class="contact-need">
                    <input type="text" name="" placeholder="Last name" class="contact-need">
                </form>
            </div>
            <div>
                <form id="login" onsubmit="process(event)">
                    <input id="phone" type="tel" name="phone" placeholder="Mobile number" class="contact-need" />
                    <input type="Email" name="" placeholder="Email address" class="contact-need">
                </form>
            </div>
            <div>
                <form>
                    <select class="form-select contact-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </form>
            </div>
            <div>
                <textarea class="contact-select" placeholder="Message" rows="5"></textarea>
            </div>
            <button type="button" class="contact-submit"><span class="contact-submit-lbl">Submit</span></button>
        </div>
    </div>
</section>
<!-- Get in touch with us End -->
<!-- Map Section -->
<section>
    <img src="~/img/germanymap.png" class="img-responsive contact-map">
    <img src="~/img/pin.png" class="img-responsive contact-pin">
</section>
<!-- Map Section -->
<!--Newsletter-->
<section>
    <div class="text-center">
        <div class=" justify-content-center align-self-center">
            <h3 class="newsletter">GET OUR NEWSLETTER</h3>
            <input type="text" name="" class="newsmail" placeholder="Your Email">
            <button class="newssubmit" type="button"><span class="btnsubmit">Submit</span></button>
        </div>
    </div>
</section>
<script src="~/js/site.js"></script>
<!--Newsletter End-->
