
@{
    ViewData["Title"] = "Prices";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<img src="~/img/group-18.png" class="img-responsive">

<!-- Card Section -->
<section class="container">
    <h1 class="about-us">Prices</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="prices-card">
                <p class="prices-one-time">One Time</p>
                <h2 class="euro-price">€ 20<span class="per-hour">/hr</span></h2>
                <div class="text-center">
                    <div class="justify-content-center align-self-center ">
                        <ul class="price-card-ul">
                            <li class="cardtick">Lower prices</li>
                            <li class="cardtick">Easy online & secure payment </li>
                            <li class="cardtick">Easy amendment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</section>
<!-- Card Section -->
<!-- Extra Services -->
<section class="container">
    <h1 class="about-us">Extra services</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    <div class="text-center">
        <div class="justify-content-center align-self-center">
            <div class="prices-extra-services-dis">
                <div class="prices-extra-services">
                    <img src="~/img/cabinet.png" class="img-responsive">
                </div>
                <p class="prices-services-pics-desc">Inside cabinets</p>
                <p class="min30">30 minutes</p>
            </div>
            <div class="prices-extra-services-dis">
                <div class="prices-extra-services">
                    <img src="~/img/fridge.png" class="img-responsive">
                </div>
                <p class="prices-services-pics-desc">Inside fridge</p>
                <p class="min30">30 minutes</p>
            </div>
            <div class="prices-extra-services-dis">
                <div class="prices-extra-services">
                    <img src="~/img/oven.png" class="img-responsive">
                </div>
                <p class="prices-services-pics-desc">Inside oven</p>
                <p class="min30">30 minutes</p>
            </div>
            <div class="prices-extra-services-dis">
                <div class="prices-extra-services">
                    <img src="~/img/dry.png" class="img-responsive">
                </div>
                <p class="prices-services-pics-desc">Laundry wash & dry</p>
                <p class="min30">30 minutes</p>
            </div>
            <div class="prices-extra-services-dis">
                <div class="prices-extra-services">
                    <img src="~/img/window.png" class="img-responsive">
                </div>
                <p class="prices-services-pics-desc">Interior windows</p>
                <p class="min30">30 minutes</p>
            </div>
        </div>
    </div>
</section>
<!-- Extra Services End -->
<!-- What we include in cleaning -->
<section class="cleaning-info">
    <div class="container">
        <h1 class="about-us">What we include in cleaning</h1>
        <img src="~/img/stone2.png" class="img-responsive stone">
        <div class="text-center">
            <div class="justify-content-center align-self-center">
                <div class="prices-extra-services-dis">
                    <img src="~/img/bedroom.png" class="img-responsive cleaning-pics">
                    <h2 class="prices-services-pics-desc cleaning-pics-desc">Bedroom and Living Room</h2>
                    <ul class="cleaninglist">
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Dust all accessible surfaces</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Wipe down all mirrors and glass fixtures</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Clean all floor surfaces</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Take out garbage and recycling</p>
                            </div>
                        </li>
                        <li class="invisible"></li>
                    </ul>
                </div>

                <div class="prices-extra-services-dis">
                    <img src="~/img/bathroom.png" class="img-responsive cleaning-pics other2pic">
                    <h2 class="prices-services-pics-desc cleaning-pics-desc">Bathrooms</h2>
                    <ul class="cleaninglist">
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Wash and sanitize the toilet, shower, tub, sink</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Dust all accessible surfaces</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Wipe down all mirrors and glass fixtures</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Clean all floor surfaces</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Take out garbage and recycling</p>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="prices-extra-services-dis">
                    <img src="~/img/kitchen.png" class="img-responsive cleaning-pics other2pic">
                    <h2 class="prices-services-pics-desc cleaning-pics-desc">Kitchen</h2>
                    <ul class="cleaninglist">
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Dust all accessible surfaces</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Empty sink and load up dishwasher</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Wipe down all mirrors and glass fixtures</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Clean all floor surfaces</p>
                            </div>
                        </li>
                        <li>
                            <div class="prices-services-pics">
                                <p class="cleaning-para">Take out garbage and recycling</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What we include in cleaning End -->
<!-- Why Helperland -->
<section class="container">
    <h1 class="about-us">Why Helperland</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h2 class="why-helperland-left">Experienced and vetted professionals</h2>
            <p class="why-decs-left">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
            <h2 class="why-helperland-left">Dedicated customer service</h2>
            <p class="why-decs-left">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="text-center">
                <div class="justify-content-center align-self-center ">
                    <img src="~/img/the-best.png" class="img-responsive the-best invisibletable">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h2 class="why-helperland-right">Every cleaning is insured</h2>
            <p class="why-decs-right">and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</p>
            <h2 class="why-helperland-right">Secure online payment</h2>
            <p class="why-decs-right">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
        </div>
    </div>
</section>
<!-- Why Helperland -->
<!--Newsletter-->
<section>
    <div>
        <a href="#" class="scroll-link"><img src="~/img/go-up.png" class="homeup"></a>
        <a href="#" class=""><img src="~/img/time.png" class="time"></a>
    </div>
    <div class="text-center">
        <div class=" justify-content-center align-self-center">
            <h3 class="newsletter">GET OUR NEWSLETTER</h3>
            <input type="text" name="" class="newsmail" placeholder="Your Email">
            <button class="newssubmit" type="button"><span class="btnsubmit">Submit</span></button>
        </div>
    </div>
</section>
<script src="~/js/site.js"></script>
<!--Newsletter End-->
