@model HelperlandWebsite.ViewModels.ChngPasswordViewModel

@{
    ViewBag.Title = "User Login";
    Layout = null;
}


@ViewBag.Message
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="oldPassword">Old Password</label>
    <input asp-for="oldPassword" type="password" class="form-control" id="oldPassword" />
    <span asp-validation-for="oldPassword" class="text-danger" id="errorNewPass"></span>
</div>
<div class="form-group">
    <label asp-for="newPassword">Old Password</label>
    <input asp-for="newPassword" type="password" class="form-control" id="newPassword" />
    <span asp-validation-for="newPassword" class="text-danger" id="errorNewPass"></span>
</div>
<div class="form-group hidden">
    <label asp-for="Password">New Password</label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger" id="errorNewPass"></span>
</div>
<div class="form-group">
    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
    <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-danger" id="errorConPass"></span>
</div>
<h3 class="fornonedisplay text-primary">Password is changed.</h3>
<div class="form-group">
    <input type="button" value="Chnage" class="btn btn-primary" onclick="btnchangePassword()"/>
</div>