* {
  box-sizing: border-box;
}

nav{
    max-width: 1560px;
  	height: 100px;
  	opacity: 0.8;
    background-color:#525252;
    background-size: contain;
  }

  nav ul{
    float: left;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
  }
  	nav ul li a{
  		color: white;
  	}

.Rounded-Rectangle{
  width: 127px;
  height: 40px;
  margin: 6px 10px 8px 500px;
  padding: 12px 19px 15px 18px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #29626d;
}

.Book-now {
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Bordered-Rounded-Rectangle {
  width: 161px;
  height: 40px;
  margin: 6px 28px 8px 10px;
  padding: 12px 14px 15px 19px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.Prices-services { 
  margin-top: 37px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.Menu3 {
  width: 10px;
  height: 16px;
  margin: 10px 35px 20px 0px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.Menu4 {
  width: 10px;
  height: 16px;
  margin: 18px 30px 20px 30px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.Menu5 {
  width: 10px;
  height: 16px;
  margin: 18px 35px 20px 10px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.Login {
  width: 39px;
  height: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}


.Rounded-Rectangle-5-Login {
  width: 83px;
  height: 40px;
  margin: 6px 10px 8px 35px;
  padding: 12px 22px 13px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #29626d;
}



.Rounded-Rectangle-5-Helper {
  width: 161px;
  height: 40px;
  margin: 6px 0 8px 0px;
  padding: 12px 18px 13px 22px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #29626d;
}

.Become-a-Helper{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Logo {
  width: 73px;
  height: 60px;
  margin: 0 601px 0 0;
  position: absolute;
  margin-top: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.faq-banner {
    max-width: 1560px;
    height: 400px;
    background-image: url("../img/faq-banner.png");
    background-repeat: no-repeat;
    background-size: contain;"
}

.FAQs {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  color: #4f4f4f;
}

img.stone{
  height:  24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

.info{
  width: 491px;
  height: 44px;
  margin: 37px 534px 36px 205px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.rectCoustomer{
  width: 50%;
  height: 66px;
  margin: 0 0px 0 0;
  padding: 0px 149px 24px;
  background-color: #1d7a8c;
  display: inline-block;
  text-align: center;
}

.Customer {
  width: 174px;
  height: 17px;
  padding-top: 0px;
  margin: 0px 106px 20px 108px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.17;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.rectService{
  width: 50%;
  height: 66px;
  background-color: #f6f6f6;
  display: inline-block;
}

.service{
  width: 260px;
  height: 17px;
  margin: 0px 106px 20px 108px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.17;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.rectangle{
  height: 4px;
  margin: 0px 0 0;
  background-color: #1d7a8c;
}

ul.first {
  list-style-image: url("../img/down-arrow.png");
  padding-left: 170px;
  width: 22px;
  height: 22px;
  margin: 43px 15px 20px 0px;
  object-fit: contain;
}

.Lorem-first {
  width: 888px;
  height: 15px;
  margin: 48px 326px 22px 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.25;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.Lorem-first-des{
  width: 894px;
  height: 156px;
  margin: 20px 321px 25px 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

ul.second{
  list-style-image: url("../img/right-arrow.png");
  padding-top: 120px;
  padding-left: 170px;
}

.Lorem-other{
  width: 888px;
  height: 15px;
  margin: 0px 326px 39px 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.25;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.GET-OUR-NEWSLETTER {
  width: 190px;
  height: 13px;
  margin: 60px 0 0px 0px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.22;
  text-align: center;
  color: #353548;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


.footer {
  max-width: 1560px;
  height: 195px;
  margin: 30px 0 0;
  padding: 27px 120px 22px;
  background-color: #111;
  margin-top: 80px;
}

.footerLogo{
  display: inline;
  width: 106px;
  height: 78px;
  margin: 0 262px 26px 2px;
  display: inline;
}

ul.footerMenu{
  display: inline;
  width: 575px;
  height: 12px;
  margin: 30px 323px 54px 65px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  float: left;
  color: #f1f1f1;
  float: left;
  display: inline;
}

ul.footerMenu li{
    list-style-type: none;
    display: inline-block;
    padding-left: 12px;
  }
    ul.footerMenu li a{
      color: white;
    }

.positionFAQ{
  position: absolute;
  top:1580px;
  left: 300px;
}

img.facebook {
  position: absolute;
  top:1580px;
  left: 1240px;
}

img.instagram {
  position: absolute;
  top:1580px;
  left: 1275px;
}

.Rounded-Rectangle-Email {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
  display: inline;
  position: absolute;
  top: 1470px;
  left: 560px;
}

.Rounded-Rectangle-colored {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7b6d;
  display:inline;
  top: 1470px;
  left: 560px;
  text-align: center;
  position: absolute;
  top: 1470px;
  left: 765px;
}

.lastline{
  height: 1px;
  margin: 3px 0 27px;
  background-color: #424242;
  overflow: hidden;
}

.Terms-and-Conditions {
  width: 494px;
  height: 14px;
  margin: 0px 358px 0 308px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #9ba0a3;
}
.Terms-and-Conditions .text-style-1 {
  color: #737381;
}

.img-cleaning{
  width: 100%;
  height: 370px;
  background-image: url("../img/img-cleaning.png");
  background-repeat: no-repeat;
}

.Prices {
  margin: 38px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

.card {
  margin: auto; 
  float: none; 
  margin-bottom: 10px; 
}

.onetimerect{
  height: 59px;
  padding: 12px;
  background-color: #1d7a8c;
}

.One-Time {
  height: 21px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.euro20{
  width: 31px;
  height: 36px;
  margin: 29px 0px 38px 31px;
  color: #646464;
  font-size: 30px;
}

.hr{
  width: 31px;
  height: 36px;
  color: #646464;
  font-size: 15px;
}

.card-li{
  margin: 5px 0px 0px 100px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

ul.ulcardtick{
  list-style-image: url("../img/cardtick.png");
  object-fit: contain;
}

.cardrect{
  margin: 42px 447px 51px;
  padding: 0 0 32px;
  border: solid 1px #b0c9ce;
  background-color: var(--white);
}

.Extra-services {
  margin: 38px 40px 18px 51px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

img.extra{
  padding: 20px 19px 15px 18px;
}

.extraline{
  width: 1140px;
  height: 1px;
  background-color: #dcdcdc ;
}

.Inside {
  margin: 17px 64px 12px 10px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #646464;
}

.lightbluebox {
  max-width: 1560px;
  height: 670px;
  margin-top: 100px;
  padding: 80px 20px 80px 75px;
  background-color: #f6f6f6;
}

.blueboxheading{
  margin: 0 19px 10px 32px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

img.stone{
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 20px;
}

img.kitchen{
  width: 300px;
  height: 210px;
  display: inline;
}

img.bedroom{
  width: 300px;
  height: 210px;
  display: inline;
}

img.bathroom{
  width: 300px;
  height: 210px;
  display: inline;
}

.Bedroom-and-Living-Room {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #4f4f4f;
  padding-top: 30px;
}

.dust-all{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}

ul.pricesul{
  list-style-image: url("../img/right-arrow.png");
}

.Why-Helperland {
  margin: 78px 27px 10px 35px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

.Experienced-and-vetted-professionals {
  margin: 44px 47px 13px 0px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.dominate-the-industry{
  margin: 13px 46px 47px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.Dedicated-customer-service {
  margin: 47px 46px 17px 0px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.to-our-customers{
  margin: 13px 46px 17px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.thebest{
  width: 329px;
  height: 236px;
  margin: 42px 8px 66px 6px;
}

.Every-cleaning-is-insured {
  margin: 44px 0px 13px 45px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.seek-to-provide{
  width: 275px;
  height: 54px;
  margin: 13px 0px 47px 44px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.Secure-online-payment {
  margin: 47px 0px 13px 44px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.Payment-is-processed {
  width: 256px;
  height: 54px;
  margin: 13px 0px 81px 44px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.GET-OUR-NEWSLETTER {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #353548;
}

.glyphicon{
  margin-left: 50px; 
  color: white;
  border-radius: 20px;
  padding:5px;
  background-color: grey;
}

.Rounded-Rectangle-649 {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}

.Rounded-Rectangle-649-copy {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7b6d;
}

img.Layer-598 {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left: 1230px;
}

.lastline{
  height: 1px;
  margin: 3px 0 27px;
  background-color: #424242;
  overflow: hidden;
}

.Inside-cabinets{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #646464;
  padding-right: 100px;
  margin-left: 0px;
}

.Inside-Fridge{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #646464;
  margin-right: 100px;
}

.Inside-Oven{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #646464;
}

.Inside-Laundry{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #646464;
  padding-right: 50px;
  margin-left: 50px;
}

.Inside-Windows{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #646464;
}

.-minutes {
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #1d7a8c;
  margin: 50px;
}