body{
  font-family: 'Roboto', sans-serif;
   max-width: 1560px;
    margin: auto;
    transition : all 0.5s ease-in-out;
    position: relative;
}




a.scroll-link { display: inline-block; position: relative; transition: all 0.3s; }
a.scroll-link:hover { transform: translateY(10px); }
.navigationclass{
	background: transparent;
	border-width: 0px;
	padding-top: 10px;
}

.backgroundimg{
	background-image: url("../img/become-a-pro-banner.png");
}

.Rounded-Rectangle {
    height: 40px;
    margin: 0px 0px 0px 10px;
    padding: 5px 29px 13px;
    border-radius: 20px;
    border: solid 1px #ffffff80;
    background-color: #716e6e;
}

.logo{
	width: 90px;
}

ul li a{
	color: #ffffff !important;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 25rem;
    padding: 40px 0 50px 0; 
}

.touch-inputs{
    font-size: 15px;
    height: 46px;
    margin: 15px 0px 0px 0px;
    padding: 17px 70px 17px 17px;
    border: solid 1px #c8c8c8;
    background-color: #ffffff;
}

.form-check-input{
   margin-top: 22px;
}

.inputcheckbox1{
	font-size: 16px;
	color: #4f4f4f;
	margin-top: 17px;
}

.acceptpolisy{
	color: #1fb6ff;
}

.get-started{
	margin-top: 17px;
    width: 166px;
    height: 46px;
    border-radius: 23px;
    background-color: #1d7a8c;
    color: #ffffff;
}

.Ellipse-down{
	padding: 50px 0 50px 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

.pics{
	padding-top: 20px;
}

.How-it-works {
	padding-top: 50px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.45;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
}

.Register-yourself {
	padding-top: 50px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
}

.registerinfo{
	font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
}

.registerimg{
	padding-top: 50px;
	width: 260px;
    height: 260px;
    object-fit: contain;
}

.readmorearrow{
	width: 29px;
    height: 9px;
}

.readmore{
	padding-top: 20px;
	color: #4f4f4f;
}

.request{
	padding-top: 50px;
	width: 260px;
    height: 260px;
    object-fit: contain;
    float: left;
}

.newsletter {
  margin: 77px 14px 20px 19px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #353548;
}

.newsmail {
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}

.newssubmit{
  border-radius: 20px;
  background-color: #ff7b6d;
}

.btnsubmit{
	font-size: 14px;
	color: #ffffff;
}

.footer{
	background-color: #111111;
	margin-top: 50px;
}

.footernav{
	padding-left: 200px;
}

.footerlogo{
	padding-top: 50px;
	width:70px;
}

.socialicons{
	margin-top: 40px;
	padding-left: 5px;
}

.footermenu{
	font-size: 12px;
	color: #f1f1f1;
}

@media (max-width: 900.98px) {
	.invisiblepics{
		display: none;
	}
  
}

@media (max-width: 990.98px) {
  .invisibletable{
    display: none;
  }
  
}


@media (min-width: 768.98px) {
  .visible{
    display: none;
  }
}

  .headermenu{
    padding:5px;
  }
}

@media (max-width: 768px){
  .Rounded-Rectangle {
    display: none;
  }
}

.line{
    height: 1px;
    margin: 16px 0 0px;
    background-color: #424242;
}

.terms{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    color: #9ba0a3;
}

.book{
    color: #ffffff !important;
}

.Rounded-Rectangle-book {
  width: 225px;
  height: 54px;
  margin: 16px 7px 157px 0;
  padding: 18px 33px 22px 31px;
  opacity: 0.6;
  border-radius: 27px;
  background-color: #006072;
  border: solid 1px #ffffff80;
}

.headingli{
    color: #ffffff;
}

ul.headingul{
    list-style-image: url("../img/ic-check.png");
}

.Loremheading{
    color: white;
    padding-left: 30px;
    padding-top: 180px;
}

ul li a{
    color: #ffffff !important;
}

.flag{
    padding: 15px 0px 0px 20px;
}

.Rounded-Rectangle {
    height: 40px;
    margin: 0px 0px 5px 10px;
    padding: 0px 29px 13px;
    border-radius: 20px;
    border: solid 1px #ffffff80;
    background-color: #716e6e;
}

.headerbg{
    background-image: url("../img/homebg.png");
    opacity: 1.7;
}

.navbarhome{
    background: #716e6e;
    border-width: 0px;
    padding-top: 10px;
    opacity: 0.9;
}

.navbarhome.scrolled{
    background-color: black
    border-width: 0px;
    padding-top: 10px;
}

.right{
    float: right;
}

.headermenu{
    padding:50px;
}

.headermenudesc {
  color: #ffffff;
  padding-left: 0px;
}

.leftimg{
    float: right !important;
}

.Ellipse-down{
    padding-top: 50px;
}

.left{
  float: left !important;
}

.carousel-caption{
  text-align: left !important;
}

.Why-Helperland {
  margin: 87px 84px 84px 90px;
  font-family: Roboto;
  font-size: 40px;
  color: #4f4f4f;
  font-weight: bold;
}

.whyimages {
  width: 320px;
  height: 320px;
  object-fit: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Experience-Vetted-Professionals {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #565656;
  padding-bottom: 30px;
}

.onlinepay{
  padding-bottom: 63px !important;
}

.prodesc{
   font-family: Roboto;
  font-size: 17px;
  line-height: 1.41;
  text-align: justify;
  color: #565656;
}

.picshomeleft{
    position: absolute;
    top: 1750px;
    left:0px;
    width: 125px;
    height: 1120px;
}

.picshomeright{
    position: absolute;
    top: 1750px;
    right:0px;
    width: 125px;
    height: 1120px;
}

.Lorem-ipsum-dolor {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #4f4f4f;
  padding: 104px 27px 18px 20px;
}

.Lorem-ipsum-dolor-desc {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #4f4f4f;
  padding-left: 20px;
}

.pics3{
    padding: 104px 27px 18px 0px;
}

.Our-Blog {
  margin: 15px 0px 15px 0px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  color: #4f4f4f;
  text-align: center;
}

.blogpics {
  border-left: 3px solid #1d7a8c;
  margin: 66px 20px 43px 12px;
  width: 357px;
  height: 367px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 #e4ebf0;
  background-color: #ffffff;
}

.blogpic1 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #3d4046;
}

img.Group-28 {
  width: 357px;
  height: 164px;
  margin: 0 0 0px;
  object-fit: contain;
}

.home-blog-date {
  margin: 0px 23px 14px 0px;
  font-family: Roboto;
  font-size: 13px;
  text-align: left;
  color: #a3a3a3;
}

.blog-desc {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #565656;
}

.Read-the-Post {
  font-family: Roboto;
  font-size: 15px;
  text-align: left;
  color: #4f4f4f;
}

.customer-sec {
  padding: 65px 0 0;
  background-color: #f4f5f8;
}

.What-Our-Customers-Say {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #4f4f4f;
}

.message {
  width: 35px;
  height: 36px;
  margin: 20px 0 4px 67px;
}

img.Group-31 {
  width: 70px;
  height: 70px;
  margin: 43px 18px 0px 15px;
  padding: 4px 0 0;
  object-fit: contain;
}

.customersay{
  padding-top: 50px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #4f4f4f;
}

.customersirname{
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  color: #8e8e8e;
}

.nav-other{
  margin: 0 0 0px;
  padding: 6px 15px 4px;
  opacity: 0.8;
  background-color: #525252;
}

.nav-visible{
  margin: 0 0 0px;
  opacity: 0.8;
  background-color: #1d7a8c;
}

.nav-other-logo{
  width: 73px;
  height: 40px;
  object-fit: contain;
}

.Rounded-Rectangle-other {
  height: 40px;
  border-radius: 20px;
  border: solid 1px #ffffff80;
  background-color: #29626d;
  margin:0px;
}

.Rounded-Rectangle-price {
  height: 40px;
  border-radius: 20px;
  border: solid 1px #ffffff80;
  margin:5px;
}

.about-us {
  height: 27px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.67;
  text-align: center;
  color: #4f4f4f;
  margin: 39px 0 18px 0;
}

.stone{
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-us-para {
  margin: 38px 0px 30px 0px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--brownish-grey);
}

.footer-navbar{
  background: transparent;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.customer-desc{
  margin: 27px 0px 30px 0px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #565656;
}

.homeup{
  position: absolute;
  width: 30px;
  height: 30px;
  background: #525252;
  border-radius: 50%;
  left: 20px;
  line-height: 45px;
  padding:8px;
}

.time{
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  line-height: 45px;
}

.policy{
  color: #6eabef;
}



</* Service Provider>Upcoming Service */>
.Upcoming-Service-nav {
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.41;
  color: #ffffff;
}

.nav-noti-icon{
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.seperator{
  width: 1px;
  height: 48px;
  margin: 1px 16px 5px 30px;
  background-color: #e1e1e1;
}

.welcomediv {
  height: 119px;
  margin: 1px 0 30px;
  padding: 50px 0 0;
  background-color: #f9f9f9;
}

.wctext {
  font-family: Roboto;
  font-size: 30px;
  line-height: 0.8;
  color: #4f4f4f;
  padding-top: 10px;
  text-align: center;
}

.wc-Sandip {
  font-weight: bold;
}

.left-sec{
  margin: 31px 31px 30px 0px;
  padding: 18px 0 435px;
  background-color: #1d7a8c;
  padding-top: 0px;
  display: block;
  overflow-x:auto;
}

.right-sec{
  
}

.list-group-item {
    background-color: #1d7a8c !important;
    border-width: 0px;
}

a.list-group-item, button.list-group-item {
    color: #ffffff;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 #146371;
    background-image: -webkit-linear-gradient(top,#146371 0,#146371 100%);
    background-image: -o-linear-gradient(top,#146371 0,#146371 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#146371));
    background-image: linear-gradient(to bottom,#146371 0,#146371 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #146371;
} 

.table-heading{
  background-color: #f9f9f9;
  height: 49px;
  padding-top: 30px !important;
  opacity: 0.5;
  margin: 31px 31px 30px 0px;
  margin: 1px 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  text-align: left;
  color: #646464;}

.table-visual{
  margin: 30px 20px 30px 31px;
  padding: 1px 0 0;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
}

.sort{
  width: 14px;
  height: 14px;
  display: inline;
}

.common-text-effect{
  margin: 28px 89px 1px 17px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #646464;
}

.wcdate{
  margin: 1px 0px 0px 7px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  text-align: left;
  color: #646464;
  display: inline;
}

.servicedate{
  display: block;
}

.calendar2{
  width: 16px;
  height: 19px;
  display: inline;
}

.servicetimepic{
  width: 17px;
  height: 17px;
  display: inline;
}

.servicetime {
  margin: 1px 0px 0px 7px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #646464;
}

.customer-details-admin{
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #646464;
}

.homepic{
  width: 22px;
  height: 22px;
  margin: 1px 0px 0px 7px;
}

.cancel-button{
  width: 80px;
  height: 34px;
  border-radius: 17px;
  background-color: #ff6b6b;
}

span.Cancel {
  font-family: Roboto;
  font-size: 12px;
  line-height: 2.81;
  text-align: left;
  color: #ffffff;
}

</* Service Provider>Upcoming Service */>

.extra-css{

}

.hist{
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
  float: left;
  display: inline;
}

.cus-export{
  width: 70px;
  height: 34px;
  border-radius: 17px;
  background-color: #146371;
  float: right;
  display: inline;
}

.cus-export-write{
  color: #ffffff;
}

.cap-img{
  width: 30px;
  height: 30px;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  padding: 5px;
  display: inline;
}

.stars{
  width: 120px;
  height: 20px;
  display: inline;
  padding-left: 30px;
}

.cus-block{
  display: block;
}

.customer-payment{
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #1d7a8c;
}

.btn-primary{
  width: 70px;
  height: 34px;
  border-radius: 17px;

}





.bg-primary {
    color: #fff;
    background-color: #1fb6ff;
}


.nav-admin{
  margin: 0 0 0px;
  padding: 6px 15px 4px;
  opacity: 0.8;
  background-color: #1fb6ff !important;
}

.logout{
  width: 26px;
  height: 29px;
  background-color: var(--white);
}

.admin-user-name{
   width: 36px;
  height: 36px;
}

.admin-helperland{
  font-family: SwitzeraADF !important;
  font-size: 37.5px;
  font-weight: bold;
  line-height: 0.65;
  text-align: left;
  color: #ffffff;
}



.admin-table{
  overflow: hidden;
}

.admin-left-sidebar {
  font-family: Roboto;
  font-size: 15.5px;
  line-height:;
  text-align: left;
  color: #646464;
  margin-top: 0px !important;
}

.admin-user-div{
  background-color: #f2f4f5 !important;
}

.User-Management {
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  line-height: 2.05;
  text-align: left;
  color: #646464;
  display: inline;
}

.add-new-user-btn {
  width: 132px;
  height: 36px;
  border: 4px #1fb6ff;
  background-color: #1fb6ff;
}

.add-new-user {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
  display: inline;
}

img.add-user {
  width: 16px;
  height: 16px;
  margin: 0 7px 0 0;
  object-fit: contain;
  display: inline;
}

.admin-white-Rectangle {
  height: 86px;
  margin: 10px 1px 20px 20px;
  padding: 20px 21px 20px 15px;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
}

.admin-whitebox-button {
  width: 205px;
  height: 46px;
  margin: 0 15px 0 0;
  padding: 17px 11px;
  border: solid 1px #dedddd;
  background-color: #ffffff;
  display: inline;
}

.admin-search-box {
  width: 84px;
  height: 46px;
  background-color: #1fb6ff;
  display: inline;
  border: 0px #1fb6ff;
}

.admin-search {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.admin-clear-box {
  width: 84px;
  height: 46px;
  border: solid 1px #dedddd;
  background-color: #ffffff;
}

.admin-clear {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #646464;
}

.ddl-admin {
  border: solid 50% #dedddd;
  margin: 0px !important;
}

.admin-table2{
  margin: 0px !important;
}

.ddl-admin-menu {
  font-family: Roboto;
  font-size: 16px;
  line-height: 2.19;
  text-align: left;
  color:#646464;
  display: block;
}

.common-text-effect-bold{
  margin: 28px 89px 1px 17px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #646464;
}

.admin-rights {
  margin: 20px 5px 20px 20px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #a2a6a8;
}
