@model HelperlandWebsite.ViewModels.SPMySettingsViewModel

@{
    ViewData["Title"] = "MySettings";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}

<div class="col-md-9">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <div class="justify-content-center align-self-center">
                    <div id="SPtab1" class="active-tab tab-color cursor-change mysettingCust" onclick="SPTab1Click()">My Details</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <div class="justify-content-center align-self-center">
                    <div id="SPtab2" class="tab-color cursor-change mysettingCust" onclick="SPTab2Click()">Change Password</div>
                </div>
            </div>
        </div>
    </div>

    <hr />
</div>

<div id="SPtabContent1" class="fordisplay">
    <form class="formclass">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h3>Account Status: Active</h3>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Firstname" class="control-label"></label>
                        <input asp-for="Firstname" id="Firstname" class="form-control" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Lastname" class="control-label"></label>
                        <input asp-for="Lastname" id="Lastname" class="form-control" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Emailaddress" class="control-label"></label>
                        <input asp-for="Emailaddress" id="Emailaddress" class="form-control" disabled />
                        <span asp-validation-for="Emailaddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="MobileNumber" class="control-label"></label>
                        <input asp-for="MobileNumber" id="MobileNumber" type="tel" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Birthdate" class="control-label"></label>
                        <input type="date" asp-for="Birthdate"
                               id="datePicker"
                               name="Tdate"
                               class="form-control clean-date"
                               value="<%=DateTime.Now.ToString(" dd-mm-yyyy")%>
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NationalityId" class="control-label">Nationality</label>
                        <select class="form-control" id="ddlNationality" asp-for="NationalityId">
                            <option value="" selected>Nationality</option>
                            <option value="176625">German</option>
                            <option value="176626">Afghan</option>
                            <option value="176627">Egyptian</option>
                            <option value="176628">Albanian</option>
                            <option value="176629">Algerian</option>
                            <option value="176630">American</option>
                            <option value="176631">andorranisch</option>
                            <option value="176632">angolan</option>
                            <option value="176633">Antiguan</option>
                            <option value="176634">äquatorialguineisch</option>
                            <option value="176635">Argentinean</option>
                            <option value="176636">Armenian</option>
                            <option value="176637">Azerbaijani</option>
                            <option value="176638">Ethiopian</option>
                            <option value="176639">Australian</option>
                            <option value="176640">bahamaisch</option>
                            <option value="176641">bahrainisch</option>
                            <option value="176642">bangladesh</option>
                            <option value="176643">Belgian</option>
                            <option value="176644">belizean</option>
                            <option value="176645">Beninese</option>
                            <option value="176646">Dzongkha</option>
                            <option value="176647">Bolivian</option>
                            <option value="176648">Bosnian herzegowinisch</option>
                            <option value="176649">botsuanisch</option>
                            <option value="176650">Brazilian</option>
                            <option value="176651">British</option>
                            <option value="176652">bruneiisch</option>
                            <option value="176653">Bulgarian</option>
                            <option value="176654">burkinisch</option>
                            <option value="176655">burundisch</option>
                            <option value="176656">cabo-verdisch</option>
                            <option value="176657">Chilean</option>
                            <option value="176658">Chinese</option>
                            <option value="176659">Costa Rican</option>
                            <option value="176660">Danish</option>
                            <option value="176661">the north Mariana Islands</option>
                            <option value="176662">the Ver. Arab. Emirates</option>
                            <option value="176664">dominicanisch</option>
                            <option value="176665">Dominican</option>
                            <option value="176666">dschibutisch</option>
                            <option value="176667">Ecuadorian</option>
                            <option value="176668">Eritrean</option>
                            <option value="176669">Estonian</option>
                            <option value="176670">Fijian</option>
                            <option value="176671">Finnish</option>
                            <option value="176672">French</option>
                            <option value="176673">gabonese</option>
                            <option value="176674">gambian</option>
                            <option value="176675">Georgian</option>
                            <option value="176676">Ghanaian</option>
                            <option value="176677">grenadian</option>
                            <option value="176678">Greek</option>
                            <option value="176679">Guatemalan</option>
                            <option value="176680">Guinea-bissauisch</option>
                            <option value="176681">guineisch</option>
                            <option value="176682">guyanese</option>
                            <option value="176683">Haitian</option>
                            <option value="176684">Honduran</option>
                            <option value="176685">Indian</option>
                            <option value="176686">Indonesian</option>
                            <option value="176687">Iraqi</option>
                            <option value="176688">Iranian</option>
                            <option value="176689">Irish</option>
                            <option value="176690">Icelandic</option>
                            <option value="176691">Israeli</option>
                            <option value="176692">Italian</option>
                            <option value="176693">Ivorian</option>
                            <option value="176694">Jamaican</option>
                            <option value="176695">Japanese</option>
                            <option value="176696">Yemeni</option>
                            <option value="176697">Jordanian</option>
                            <option value="176698">Cambodian</option>
                            <option value="176699">cameroonian</option>
                            <option value="176700">Canadian</option>
                            <option value="176701">Kazakh</option>
                            <option value="176702">Qatari</option>
                            <option value="176703">Kenyan</option>
                            <option value="176704">Kyrgyz</option>
                            <option value="176705">Kiribati</option>
                            <option value="176706">Colombian</option>
                            <option value="176707">comorian</option>
                            <option value="176708">Congolese</option>
                            <option value="176709">Korean</option>
                            <option value="176710">Croatian</option>
                            <option value="176711">Cuban</option>
                            <option value="176712">kuwaitisch</option>
                            <option value="176713">Laotian</option>
                            <option value="176714">lesothisch</option>
                            <option value="176715">Latvian</option>
                            <option value="176716">Lebanese</option>
                            <option value="176717">Liberian</option>
                            <option value="176718">libyan</option>
                            <option value="176719">liechtensteinisch</option>
                            <option value="176720">Lithuanian</option>
                            <option value="176721">lucianisch</option>
                            <option value="176722">Luxembourgish</option>
                            <option value="176723">Madagascan</option>
                            <option value="176724">Macedonian / Macedonian</option>
                            <option value="176725">malawian</option>
                            <option value="176726">Malaysian</option>
                            <option value="176727">maldivian</option>
                            <option value="176728">malisch</option>
                            <option value="176729">Maltese</option>
                            <option value="176730">Moroccan</option>
                            <option value="176731">Marshallese</option>
                            <option value="176732">mauritanian</option>
                            <option value="176733">Mauritian</option>
                            <option value="176734">Mexican</option>
                            <option value="176735">micronesian</option>
                            <option value="176736">Moldavian</option>
                            <option value="176737">Monegasque</option>
                            <option value="176738">Mongolian</option>
                            <option value="176739">montenegrin</option>
                            <option value="176740">Mozambican</option>
                            <option value="176741">Myanmarian</option>
                            <option value="176742">Namibian</option>
                            <option value="176743">Nauruan</option>
                            <option value="176744">Nepalese</option>
                            <option value="176745">New Zealand</option>
                            <option value="176746">Nicaraguan</option>
                            <option value="176747">Dutch</option>
                            <option value="176748">Nigerian</option>
                            <option value="176749">nigrisch</option>
                            <option value="176750">Norwegian</option>
                            <option value="176751">Omani</option>
                            <option value="176752">Austrian</option>
                            <option value="176754">Pakistani</option>
                            <option value="176755">Palauan</option>
                            <option value="176756">Panamanian</option>
                            <option value="176757">Papua-neuguineisch</option>
                            <option value="176758">Paraguayan</option>
                            <option value="176759">Peruvian</option>
                            <option value="176760">Filipino</option>
                            <option value="176761">Polish</option>
                            <option value="176762">Portuguese</option>
                            <option value="176763">Rwandan</option>
                            <option value="176764">Romanian</option>
                            <option value="176765">Russian</option>
                            <option value="176766">salomonisch</option>
                            <option value="176767">Salvadorian</option>
                            <option value="176768">Zambian</option>
                            <option value="176769">Samoan</option>
                            <option value="176770">sanmarinesisch</option>
                            <option value="176771">santomeisch</option>
                            <option value="176772">Saudi-arabian</option>
                            <option value="176773">Swedish</option>
                            <option value="176774">Swiss</option>
                            <option value="176775">Senegalese</option>
                            <option value="176776">Serbian</option>
                            <option value="176777">seychellisch</option>
                            <option value="176778">sierraleonisch</option>
                            <option value="176779">Zimbabwean</option>
                            <option value="176780">Singaporean</option>
                            <option value="176781">Slovak</option>
                            <option value="176782">Slovenian</option>
                            <option value="176783">somali</option>
                            <option value="176784">Spanish</option>
                            <option value="176785">Sri Lankan</option>
                            <option value="176786">South African</option>
                            <option value="176787">Sudanese</option>
                            <option value="176788">südsudanesisch</option>
                            <option value="176789">surinamese</option>
                            <option value="176790">swasiländisch</option>
                            <option value="176791">Syrian</option>
                            <option value="176792">Tajik</option>
                            <option value="176793">Taiwanese</option>
                            <option value="176794">Tanzanian</option>
                            <option value="176795">Thai</option>
                            <option value="176796">togolese</option>
                            <option value="176797">tongan</option>
                            <option value="176798">Chadian</option>
                            <option value="176799">Czech</option>
                            <option value="176800">Tunisian</option>
                            <option value="176801">Turkish</option>
                            <option value="176802">Turkmen</option>
                            <option value="176803">Tuvaluan</option>
                            <option value="176804">Ugandan</option>
                            <option value="176805">Ukrainian</option>
                            <option value="176806">Hungarian</option>
                            <option value="176807">Uruguayan</option>
                            <option value="176808">Uzbek</option>
                            <option value="176809">vanuatuisch</option>
                            <option value="176810">Venezuelan</option>
                            <option value="176811">Vietnamese</option>
                            <option value="176812">vince table</option>
                            <option value="176813">from Niue</option>
                            <option value="176814">from St. Kitts and Nevis</option>
                            <option value="176815">from Timor-Leste</option>
                            <option value="176816">from Trinidad and Tobago</option>
                            <option value="176817">belarusian</option>
                            <option value="176818">zentralafrikanisch</option>
                            <option value="176819">zyprisch</option>
                        </select>
                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label setradiolbl"></label>
                        <input asp-for="Gender" type="radio" name="gender" value="1" class="setradio" selected>Male</input>
                        <input asp-for="Gender" type="radio" name="gender" value="2" class="setradio">Female</input>
                        <input asp-for="Gender" type="radio" name="gender" value="3" class="setradio">Rather not to say</input>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="UserProfilePicture" class="control-label">Select Avatar</label>

                        <div class="form-group">
                            <div class="columnAvatar">
                                <input asp-for="UserProfilePicture" type="radio" name="UserProfile" value="Car" />
                                <img class="avatar" src="~/img/cap.png">
                            </div>
                            <div class="columnAvatar">
                                <input asp-for="UserProfilePicture" type="radio" name="UserProfile" value="Lady" />
                                <img class="avatar" src="~/img/cap.png">
                            </div>
                            <div class="columnAvatar">
                                <input asp-for="UserProfilePicture" type="radio" name="UserProfile" value="Cap" />
                                <img class="avatar" src="~/img/cap.png">
                            </div>
                            <div class="columnAvatar">
                                <input asp-for="UserProfilePicture" type="radio" name="UserProfile" value="Iron" />
                                <img class="avatar" src="~/img/cap.png">
                            </div>
                            <div class="columnAvatar">
                                <input asp-for="UserProfilePicture" type="radio" name="UserProfile" value="gentleman" />
                                <img class="avatar active" src="~/img/cap.png">
                            </div>
                            <div class="columnAvatar">
                                <input asp-for="UserProfilePicture" type="radio" name="UserProfile" value="Ship" />
                                <img class="avatar" src="~/img/cap.png">
                            </div>
                        </div>
                        <span asp-validation-for="UserProfilePicture" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-9">
                <h3>My Address</h3>
                <hr />
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Streetname" class="control-label"></label>
                    <input asp-for="Streetname" id="Streetname" class="form-control" />
                    <span asp-validation-for="Streetname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="AddressLine2" class="control-label">Housenumber</label>
                    <input asp-for="AddressLine2" class="form-control" id="Housenumber" />
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" id="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <select id="ddlCity" class="form-control">
                        <option value="Tambach-Dietharz">Tambach-Dietharz</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary" onclick="saveChanges()" />
                <h5 class="text-primary fornonedisplay" id="msgSuccess">Changes saved Successfully</h5>
            </div>
        </div>
    </form>
</div>

<div id="SPtabContent2" class="fornonedisplay">
    tab2
</div><div> @ViewBag.Message</div>
<script>
        document.getElementById('datePicker').valueAsDate = new Date();

        function saveChanges() {
            debugger;
        var saveChngs = {};
        saveChngs.Firstname = $("#Firstname").val();
        saveChngs.Lastname = $("#Lastname").val();
        saveChngs.Emailaddress = $("#Emailaddress").val();
        saveChngs.MobileNumber = $("#MobileNumber").val();
        var date = $("#datePicker").val();
        saveChngs.Birthdate = date;
            var ddlNationalityId = $('#ddlNationality').find(":selected").val();
            var chkgender;
            var chkgUserProfile;
            chkgender = $("input[name='gender']:checked").val();
            chkgUserProfile = $("input[name='UserProfile']:checked").val();
            saveChngs.UserProfilePicture = chkgUserProfile;
            saveChngs.Gender = chkgender;
            saveChngs.NationalityId = ddlNationalityId;
        saveChngs.Streetname = $("#Streetname").val();
        saveChngs.AddressLine2 = $("#Housenumber").val();
        saveChngs.PostalCode = $("#PostalCode").val();
        var ct = $('#ddlCity').find(":selected").text();
        saveChngs.City = ct;

        $.ajax({
                url: '@Url.Action("MySettings")',
                type: 'post',
                data: saveChngs,
                success: function (response) {

                    if (response) {
                        location.reload();
                        $("#msgSuccess").show();
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong schedulebtn!!");
                }
            })
        }

    function SPChangePassword() {
            
            var saveChngs = {};
            saveChngs.chkPassword = 1;
            saveChngs.Password = $("#Chngpwd").val();
            saveChngs.oldPassword = $("#oldPwd").val();
            $.ajax({
                url: '@Url.Action("SPChangePassword")',
                type: 'post',
                data: saveChngs,
                success: function (response) {
                    //debugger;
                    if (response.Success) {

                        alert("Password is Changed");
                    }
                    else {
                        alert("Does not match.");
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong schedulebtn!!");
                }
            })
        }
</script>
