@model HelperlandWebsite.ViewModels.SPChngPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>

<h3>Chnage Password</h3>
<hr />
<div class="row formclass">
    <div class="col-md-9">
        <div class="col-md-4">
            <div class="fornonedisplay">@ViewBag.Message</div>
            <form asp-action="SPChangePassword">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="oldPassword" class="control-label"></label>
                    <input asp-for="oldPassword" type="password" class="form-control" id="oldPwd" />
                    <span asp-validation-for="oldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" id="Chngpwd" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Create" class="btn btn-primary" onclick="SPChangePassword()" />
                </div>


            </form>
        </div>
    </div>
</div>
   

</body>
</html>
