<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Service Provider>Upcoming Service</title>
    <!-- bootstrap Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrapcss/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
<body>

    <!-- Header -->
    <header>
        <nav class="navbar-inverse navbar-fixed-top nav-other">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/img/white-logo.png" class="nav-other-logo img-responsive" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav right">
                        <li><a href="#" class="Upcoming-Service-nav">Prices & Services</a></li>
                        <li><a href="#" class="Upcoming-Service-nav">Warranty</a></li>
                        <li><a href="#" class="Upcoming-Service-nav">Blog</a></li>
                        <li><a href="#" class="Upcoming-Service-nav">Contact</a></li>
                        <li><span class="seperator"></span></li>
                        <li><a href="#" class="scroll-link"><img src="~/img/icon-notification.png" class="nav-noti-icon img-responsive"></a></li>
                        <li><a href="#" class="scroll-link"><img src="~/img/admin-user.png" class="nav-noti-icon img-responsive"></a></li>
                        <li><a href="#" class="scroll-link"><img src="~/img/go-up.png" class=""></a></li>
                    </ul>

                    <section class="container visible">
                        <div class="container-fluid nav-visible">



                            <div class="collapse navbar-collapse" id="myNavbar">
                                <div class="row">
                                    <div class="col-md-2">
                                        <table class="table">
                                            <tr><td><a href="#" class="list-group-item">Dashboard</a></td></tr>
                                            <tr><td><a href="#" class="list-group-item">New Service Requests</a></td></tr>
                                            <tr><td><a href="#" class="list-group-item active">Upcoming Services</a></td></tr>
                                            <tr><td><a href="#" class="list-group-item">Service Schedule</a></td></tr>
                                            <tr><td><a href="#" class="list-group-item">Service History</a></td></tr>
                                            <tr><td><a href="#" class="list-group-item">My Ratings</a></td></tr>
                                            <tr><td><a href="#" class="list-group-item">Block Customer</td></a></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </section>






                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->
    <!-- Welcome Section -->
    <section class="welcomediv">
        <h1 class="wctext">Welcome, <span class="wc-Sandip">Sandip!</h1>
    </section>
    <!-- Welcome Section End -->
    <!-- Middle Section invisible -->
    <section class="container invisibletable">
        <div class="row">
            <div class="col-md-2 left-sec">
                <table class="table">
                    <tr><td><a href="#" class="list-group-item">Dashboard</a></td></tr>
                    <tr><td><a href="#" class="list-group-item">New Service Requests</a></td></tr>
                    <tr><td><a href="#" class="list-group-item active">Upcoming Services</a></td></tr>
                    <tr><td><a href="#" class="list-group-item">Service Schedule</a></td></tr>
                    <tr><td><a href="#" class="list-group-item">Service History</a></td></tr>
                    <tr><td><a href="#" class="list-group-item">My Ratings</a></td></tr>
                    <tr><td><a href="#" class="list-group-item">Block Customer</td></a></tr>
                </table>
            </div>

            <div class="col-md-9">
                <table class="table table-visual">
                    <tr class="table-heading">
                        <th>Service ID<img src="~/img/sort.png" class="img-responsive sort"></th>
                        <th>Service Data<img src="~/img/sort.png" class="img-responsive sort"></th>
                        <th>Customer details<img src="~/img/sort.png" class="img-responsive sort"></th>
                        <th>Distance<img src="~/img/sort.png" class="img-responsive sort"></th>
                        <th>Actions<img src="~/img/sort.png" class="img-responsive sort"></th>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323636</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">15 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323637</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">10 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323638</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">15 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323639</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">15 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323640</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">10 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323641</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">25 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323642</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">15 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323643</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">05 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323644</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">15 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="common-text-effect">323645</td>
                        <td>
                            <span class="servicedate">
                                <img src="~/img/calendar2.png" class="img-responsive calendar2"><span class="wcdate">09/04/2018</span>
                            </span>
                            <img src="~/img/servicetime.png" class="img-responsive servicetimepic"><span class="servicetime">12:00 - 18:00</span>
                        </td>
                        <td>
                            <span class="servicedate">
                                <span class="customer-details-admin">David Bough</span>
                            </span>
                            <img src="~/img/home.png" class="img-responsive servicetimepic"><span class="customer-details-admin">Musterstrabe 5,12345 Bonn</span>
                        </td>
                        <td class="common-text-effect">05 km</td>
                        <td>
                            <button type="button" class="cancel-button">
                                <span class="Cancel">Cancel</span>
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </section>
    <!-- Middle Section invisible End -->
    <!--Footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <a class="navbar-brand" href="#"><img src="~/img/white-logo.png" class="logo img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <nav class="navbar-inverse footer-navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarfooter">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbarfooter">
                            <ul class="nav navbar-nav navbar-center">
                                <li><a href="#" class="footermenu">HOME</a></li>
                                <li><a href="#" class="footermenu">ABOUT</a></li>
                                <li><a href="#" class="footermenu">TESTIMATIONS</a></li>
                                <li><a href="#" class="footermenu">FAQS</a></li>
                                <li><a href="#" class="footermenu">INSURANCE POLISY</a></li>
                                <li><a href="#" class="footermenu">IMPRESSUM</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-1">
                    <a href="#"><img src="~/img/facebook.png" class="socialicons"></a>
                    <a href="#"><img src="~/img/instagram.png" class="socialicons"></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="line"></div>
            <div class="text-center">
                <div class=" justify-content-center align-self-center ">
                    <span class="terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac.</span> <span class="policy"> <a href="#">Privacy Policy</a></span>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="bootstrapjs/bootstrap.min.js"></script>
</body>
</html>
