<header>
    <div class="topnav" id="myTopnav">
        <img src="~/img/white-logo.png" class="nav-other-logo img-responsive" alt="logo">
        <a href="#" class="scroll-link"><img src="~/img/go-up.png" class=""></a>
        <a href="#" class="scroll-link"><img src="~/img/admin-user.png" class="nav-noti-icon img-responsive"></a>
        <a href="#" class="scroll-link"><img src="~/img/icon-notification.png" class="nav-noti-icon img-responsive"></a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
        <a href="#">Warranty</a>
        <a href="#" class="">Prices & Services</a>
        <a href="#" class="Rounded-Rectangle-other">Book now</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunctionnav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

</header>