
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book_now</title>
</head>
<body>
    <h1 class="book_Heading">Set up your cleaning service</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    <div class="container">
        <div class="row book_Service">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3" style="display : inline-block;"
                         onclick="Tab1Click()" id="tab1">Setup Service</div>
                    <div class="col-md-3 " style="display : inline-block;"
                         onclick="Tab2Click()" id="tab2">22222</div>
                    <div class="col-md-3 " style="display : inline-block;"
                         onclick="Tab3Click()" id="tab3">scasa</div>
                    <div class="col-md-3 " style="display : inline-block;"
                         onclick="Tab4Click()" id="tab4">sadas</div>
                </div>
                <div class="tabContent1" style="display:none;">
                    111111111
                </div>
                <div class="tabContent2" style="display:none;">
                    222222222
                </div>
                <div class="tabContent3" style="display:none;">
                    3333333
                </div>
                <div class="tabContent4" style="display:none;">
                    444444
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
